<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Generator vCard Pracowników PŁ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">

    <link href="../static/css/profile.css" th:href="@{/css/Profile.css}" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="section">
    <div class="container">
        <div th:each="employee: ${employees}">
            <div th:replace="fragments/employee.html :: employee (employee=${employee})" ></div>
        </div>
    </div>
</div>
</body>
</html>
